<section class="content" ng-controller="MyProfileController as myProfileVm">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="images/user2-160x160.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">{{myProfileVm.teamMember.user}}</h3>

              <p class="text-muted text-center">{{myProfileVm.teamMember.designation}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Team</b> <a class="pull-right">{{myProfileVm.teamMember.teamName}}</a>
                </li>
                <li class="list-group-item">
                  <b>Grade</b> <a class="pull-right">{{myProfileVm.teamMember.grade}}</a>
                </li>
                <li class="list-group-item">
                  <b>Phone</b> <a class="pull-right">{{myProfileVm.teamMember.phone}}</a>
                </li>
              </ul>

              <a href="" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Email</strong>

              <p class="text-muted">
                {{myProfileVm.teamMember.email}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">Pune</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
            </ul>
            <div class="tab-content">
              
              <div class="active tab-pane" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse" ng-repeat="work in myProfileVm.teamMember.wfh | reverse">
                  <!--div ng-repeat="work in teamMember.wfh"-->
                      <li class="time-label">
                            <span class="bg-red">
                              {{work.onDate | date}}
                            </span>
                      </li>
                      <li>
                        <i class="fa fa-user bg-aqua"></i>
                        <div class="timeline-item">
                          <h3 class="timeline-header no-border"><a href="">{{myProfileVm.teamMember.user}}</a> 's Tasks for the Day
                          </h3>
                          <div class="timeline-body">
                            {{work.tasks}}
                          </div>
                        </div>
                      </li>
                      <li>
                        <i class="fa fa-comments bg-yellow"></i>
                        <div class="timeline-item">
                          <h3 class="timeline-header"><a href="">{{myProfileVm.teamMember.user}}</a> commented on his/her post.</h3>
                          <div class="timeline-body">
                            {{work.comments}}
                          </div>
                        </div>
                      </li>
                    <!--/div-->
                </ul>
                <!--- End of Timeline -->
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->